<!DOCTYPE html>
<html>
  <head>
      <title>{{title}}</title>
      <link rel="stylesheet" href="/css/normalize.css">
      <link rel="stylesheet" href="/css/application.css">

      <script src="/js/application.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
